body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 20px;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.info {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
}

.info td {
    padding: 3px 8px;
}

.absensi-table {
    width: 100%;
    table-layout: auto;
    font-size: 10px;
    border-collapse: collapse;
    page-break-inside: auto;
}

.absensi-table th,
.absensi-table td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.absensi-table td.left {
    text-align: left;
}

.absensi-table .left {
    text-align: left;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

thead {
    display: table-header-group; 
}
tbody {
    display: table-row-group;
}